.navbar-no-box-shadow{
    box-shadow: 0 0 transparent;
}

.cursor-pointer {
    cursor : pointer;
}

.admin-dashboard-top-nav {
    margin-left: 250px;
}

.admin-dashboard-main-content {
    margin-left: 250px;
}

.navbar-brand-img-dashboard {
    height: 6rem !important;
    width: 50%;
    margin: auto;
}

.dark-background {
    background: linear-gradient(0deg, #333333, #555555) !important;
    color:white !important
}

.bg-gradient-primary {
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

.dataTables_filter, .dataTables_paginate{
    float: right !important;
}

.ant-table-column-title {
    font-weight: bold !important;
}

.sidenav-dropdown {
    padding-left: 4rem;
    font-size: smaller;
}