.login-form .ant-form-item
{
    width: 80%;
}

.input-calendar-wrapper{
    width: 350px !important;
}

.input-calendar-fields{
    padding-left: 20px;
    width: 100% !important;
}

.add-form .ant-form-item{
    margin-bottom: 0 !important;
    line-height: 20px;
}

.days, .months, .years{
    margin: auto;
}

.detail-form .ant-form-item-control {
    background : #ccc;
}

.detail-form .ant-form-item {
    border: 1px solid #333 !important;
    padding: 2px 15px;
}